@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@layer components {
  .button {
    @apply bg-violet-500 rounded-full text-white py-3 px-6 hover:bg-violet-600;
  }
  .buttonSecondary {
    @apply bg-white rounded-full text-violet-500 border-2 border-violet-500 py-3 px-6 
    hover:bg-violet-100;
  }
  .buttonMobile {
    @apply bg-violet-500 rounded-full text-white py-2 px-4 hover:bg-violet-600;
  }
  .buttonMobileSecondary {
    @apply bg-white rounded-full text-violet-500 border-2 border-violet-500 py-2 px-4 
    hover:bg-violet-200;
  }
  .contactInput {
    @apply outline-none bg-gray-100 rounded-sm border-b px-6 py-4 border-gray-300
    text-gray-900 placeholder-gray-500 transition-all focus:border-violet-400/40
     hover:border-violet-400/40;
  }
  .cardHover {
    @apply hover:bg-violet-300 hover:shadow-lg 
    transform transition duration-300 hover:-translate-y-1;
  }
}

html {
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  transition: all 300ms ease;
}

iframe {
  border-radius: 16px;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

.prose p a {
  color: #ca89ff;
}
.prose p a:hover {
  color: #ca89ff;
  text-decoration: underline;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.btn {
  transition: all 300ms ease;
}

/*

HERO

*/
.hero__btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero__btn {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

/*

HOW IT WORKS

*/
.works__perk {
  margin: 0 16px;
}

/*

TEAM

*/
.team__bio {
  height: 100%;
}

.team__para {
  flex: 1;
}
