@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@layer components {
  .button {
    @apply bg-violet-500 rounded-full text-white py-3 px-6 hover:bg-violet-600;
  }
  .buttonMobile {
    @apply bg-violet-500 rounded-full text-white py-2 px-4 hover:bg-violet-600;
  }
  .contactInput {
    @apply outline-none bg-gray-100 rounded-sm border-b px-6 py-4 border-gray-300
    text-gray-900 placeholder-gray-500 transition-all focus:border-violet-400/40
     hover:border-violet-400/40;
  }
  .cardHover {
    @apply hover:bg-violet-50 hover:shadow-lg 
    transform transition duration-300 hover:-translate-y-1;
  }
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
